* {
    background-color: #202020;
    margin: 20px;
    font-family: sans-serif;
    text-align: center;
}

button {
    background-color: hsl(0, 0%, 55%);
    border-style: none;
    padding: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: hsl(0, 0%, 45%);;
}

.choiseButtons button {
    font-size: 60px;
}


h1 {
    color: white;
}

div, p {
    color: silver;
}

.commentator {
    font-size: 28px;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-self: center;
}

.winState {
    color: #4cdf4c;
}

.failState {
    color: #ec2d2d;
}

.winnerAnnouncer {
    font-size: 48px;
}